.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  position: relative;
  width: 0;
  border-bottom: solid 500px goldenrod;
  border-right: solid 300px transparent;
  border-left: solid 300px transparent;
  cursor: url(/src/assets/beater.cur);
}

.triangle .empty {
  position: absolute;
  top: 90px;
  left: -210px;
  width: 0;
  border-bottom: solid 360px white;
  border-right: solid 210px transparent;
  border-left: solid 210px transparent;
}

.line-1 {
  width: 50px;
  height: 550px;
  background: red;
  rotate: 30deg;
  position: absolute;
  border-radius: 2rem;
  top: 180px;
  right: 775px;
}
.line-2 {
  width: 50px;
  height: 550px;
  background: blue;
  rotate: -30deg;
  position: absolute;
  border-radius: 2rem;
  top: 180px;
  left: 775px;
}
.line-3 {
  width: 50px;
  height: 550px;
  background: green;
  rotate: 90deg;
  position: absolute;
  border-radius: 2rem;
  top: 400px;
}

.beater {
  position: "absolute";
  width: 35px;
  height: 250px;
  background: black;
  rotate: -30deg;
  cursor: none;
}

.circle {
  background: #f00;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.2s cubic-bezier(0.02, 1.23, 0.79, 1.08);
}
