.background {
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  background-image: url(/src//assets/drums-on-stage-pov-1920.jpg);
  width: 100vw;
  height: 100vh;
}

h1 {
  color: white;
}

.snare {
  /* background: rgba(243, 18, 18,0.5); */
  border-radius: 100px;
  width: 275px;
  height: 130px;
  position: absolute;
  top: 730px;
  left: 670px;
}

.kick {
  /* background: rgba(18, 243, 29, 0.5); */
  /* border-radius: 100px; */
  width: 150px;
  height: 220px;
  position: absolute;
  top: 730px;
  left: 950px;
}

.hihat {
  /* background: rgba(238, 255, 5, 0.5); */
  border-radius: 150px;
  width: 295px;
  height: 100px;
  position: absolute;
  top: 640px;
  left: 420px;
}

.crash {
  /* background: rgba(9, 5, 255, 0.5); */
  border-radius: 150px;
  width: 285px;
  height: 95px;
  position: absolute;
  top: 470px;
  left: 560px;
}

.ride {
  /* background: rgba(253, 5, 233, 0.5); */
  border-radius: 150px;
  width: 345px;
  height: 95px;
  position: absolute;
  top: 380px;
  left: 1110px;
}

.tom-1 {
  /* background: rgba(250, 133, 0, 0.5); */
  border-radius: 150px;
  width: 190px;
  height: 100px;
  position: absolute;
  top: 565px;
  left: 730px;
}

.tom-2 {
  /* background: rgba(255, 0, 98, 0.5); */
  border-radius: 150px;
  width: 300px;
  height: 130px;
  position: absolute;
  top: 700px;
  left: 1100px;
}

.open-hat {
  /* background: rgba(187, 255, 0, 0.5); */
  border-radius: 150px;
  width: 190px;
  height: 85px;
  position: absolute;
  top: 530px;
  left: 910px;
}

.oky-lets-go {
  /* background: rgba(187, 255, 0, 0.5); */
  border-radius: 150px;
  width: 120px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 350px;
}

.crowd {
  /* background: rgba(187, 255, 0, 0.5); */
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 1500px;
}

.lights {
  background-image: url("/src/assets/stage-lighting.jpg");
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: screen;
  width: 1920px;
  height: 100vh;
}

.lightshow {
  animation: animationFrames 1s infinite;
  width: 100%;
  height: 100%;
}

@keyframes animationFrames {
  0% {
    background-color: rgba(141, 141, 255, 0.3);
  }
  33% {
    background-color: rgba(235, 4, 4, 0.3);
  }
  66% {
    background-color: rgba(247, 168, 22, 0.3);
  }
  99% {
    background-color: rgba(222, 255, 255, 0.3);
  }
}

.music-play {
  margin: 2rem;
  width: 100px;
  height: 100px;
  background: transparent;
  border: 3px solid white;
  color: white;
  border-radius: 2rem;
  font-size: 24px;
  cursor: pointer;
}
